* {
	padding: 0;
	margin: 0;

}

body {
	background: #282828;
	color: #c3c3c3;
	font-family: Verdana;
	font-size: 14px;
}

.main {
	width: 1280px;
	margin: 0 auto;
}

header {
	background: #222222;
	padding: 50px 160px 120px 160px;
	
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: flex;
	list-style: none;
	flex-direction: row;
	align-items: center;
}

nav ul li {
	margin-right: 30px;
}

.logo {
	width: 60px;
	height: 60px;
	margin-right: 60px;
}

.phone-icon {
	width: 17px;
	height: 17px;
	margin: 0;
	margin-left: 20px;
}

.mail-icon {
	width: 17px;
	height: 12px;
	margin: 0;
}

a {
	color: #c3c3c3;
	font-family: Verdana;
	font-size: 14px;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

.text {
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
}

.left {
	width: 438px;
	height: 438px;
	margin-left: 120px;
	display: flex;
	flex-direction: column;
}

.left h1 {
	font-family: "Courier New";
	font-size: 45px;
	color: #ffffff;
	margin-top: 60px;
}

.left .left-text {
	margin-top: 50px;
}

.arrow {
	width: 19px;
	height: 16px;
}

.button {
	background: #feca30;
	width: 240px;
	height: 50px;
	font-weight: bold;
	color: #222222;
	font-family: Verdana;
	font-size: 14px;
	border-radius: 30px;
	border: 0px solid #feca30;
	padding: 0px 25px;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.button:hover {
    background-color: #c3c1bb;
    color: #ffffff;
}

.advantages {
	background: #131313;
	padding: 80px 160px;
	display: flex;
	justify-content: space-between;
}

.advantages div {
	width: 180px;
}

.advantages p {
	margin-top: 35px;
}

.icon {
	width: 60px;
	height: 68px;
}

.content {
	padding: 80px 160px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content h1 {
	font-family: "Courier New";
	font-size: 24px;
	color: #222222;
}

.content p {
	font-family: Verdana;
	font-size: 14px;
	color: #222222;
}

.map {
	width: 440px;
	height: 346px;
}

.content-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-2 h1 {
	margin-bottom: 30px;
}

span span {
	font-weight: bold;
}

.content-3 li span {
	color: #222222;
}

.content-3 li {
	color: #feca30;
	font-family: Verdana;
	font-size: 14px;
	margin-top: 25px;
	margin-left: 15px;
	padding-left: 15px;
}

.content-3 h1 {
	margin-bottom: 45px;
}

.content-3 {
	width: 440px;
	margin-top: 80px;
}

.form {
	padding: 80px 160px;
	background: #f0f0f0;
	display: flex;
	justify-content: space-between;
}

.form h1 {
	font-family: "Courier New";
	font-size: 24px;
	color: #131313;
	margin-bottom: 70px;
}

.form p {
	font-family: Sans-serif;
	font-size: 14px;
	color: #222222;
}

.form div {
	width: 440px;
}

.form-1 {
	width: 440px;
	margin-bottom: 18px;
}

.form-2 {
	width: 215px;
}

.form-3 {
	margin-right: 5px;
}

.form-4 {
	margin-top: 35px;
}

input {
	padding: 15px;
	font-family: Sans-serif;
	font-size: 14px;
	color: #222222;
	border: none;
}

.form-5 {
	font-family: Sans-serif;
	font-size: 13px;
	color: #222222;
	margin-left: 10px;
}

.button-form {
	background: #222222;
	width: 240px;
	height: 50px;
	font-weight: bold;
	color: #ffffff;
	font-family: Verdana;
	font-size: 14px;
	border-radius: 30px;
	border: none;
	padding: 0px 25px;
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
}

.button-form:hover {
    background-color: #c3c1bb;
    color: #ffffff;
}

.table {
	padding: 80px 160px;
	background: #222222;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.table h1 {
	width: 440px;
	font-family: "Courier New", sans-serif;
	font-size: 24px;
	color: #feca30;
}

.table p {
	width: 440px;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	color: #ffffff;
}

.table a {
	text-decoration: underline;
	color: #feca30;
}

.table a:hover {
	color: #c3c1bb;
}

.table div {
	display: flex;
	flex-direction: column;
	width: 960px;
	
}

.table-1 {
	margin-top: 90px;
}

.table div div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: #ffffff;
	border-bottom: 1px solid #555555;
}

.table div div div {
	width: 180px;
	padding: 15px;
	border: none;
}

.tr-black {
	background: #111111;
	font-weight: bold;
}
 
 footer {
	 padding: 80px 160px;
	 background: #131313;
	 display: flex;
	 justify-content: space-between;
 }
 
 
 .foter-div {
	 width: 180px;
	 
 }
 
footer h1{
font-family: verdana,sans-serif 
	width: 440px;
	font-family: "Courier New", sans-serif;
	font-size: 24px;
	color: #feca30;
}

footer p {
	font-family: verdana,sans-serif:
	font-size: 14px;
	color: #d4d4d4;
	margin-left: 25px;
}

.logo-footer {
    display: flex;
	align-items:center;
}

.footer-one {
	display: flex;
	flex-direction: column;
	justify-content: space-between;